apiVersion: apps/v1
kind: Deployment
metadata:
    name: postgres-envoy
    namespace: shelfshare-localprod
spec:
    replicas: 1
    selector:
        matchLabels:
            app: postgres-envoy
    template:
        metadata:
            labels:
                app: postgres-envoy
        spec:
            volumes:
                - name: envoy-config
                  configMap:
                      name: postgres-envoy-config
                - name: envoy-secrets
                  secret:
                      secretName: postgres-envoy-cert

            containers:
                - name: envoy
                  image: envoyproxy/envoy:v1.32-latest
                  args: ["-c", "/etc/envoy/envoy.yaml"]
                  volumeMounts:
                      - name: envoy-config
                        mountPath: /etc/envoy/envoy.yaml
                        subPath: envoy.yaml
                      - name: envoy-secrets
                        mountPath: /etc/envoy/secrets
                  ports:
                      - containerPort: 15432
                      - containerPort: 9901
