apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: shelfshare-pg-data-localprod
    namespace: shelfshare-localprod
    labels:
        app: postgres
spec:
    storageClassName: standard
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 100Mi
