apiVersion: apps/v1
kind: Deployment
metadata:
    name: postgres
    namespace: shelfshare-localprod
    labels:
        app: postgres
spec:
    replicas: 1
    selector:
        matchLabels:
            app: postgres
    strategy:
        type: Recreate
    template:
        metadata:
            labels:
                app: postgres
        spec:
            containers:
                - name: postgres
                  image: postgres:18
                  ports:
                      - containerPort: 5432
                        protocol: TCP
                  envFrom:
                      - configMapRef:
                            name: shelfshare-app-config
                      - secretRef:
                            name: shelfshare-app-secrets
                  livenessProbe:
                      exec:
                          command:
                              - sh
                              - -c
                              - pg_isready -U "$POSTGRES_USER" -d "$POSTGRES_DB"
                      failureThreshold: 10
                      periodSeconds: 5
                      timeoutSeconds: 3
                  volumeMounts:
                      - name: shelfshare-pg-data-localprod
                        mountPath: /var/lib/postgresql
            restartPolicy: Always
            volumes:
                - name: shelfshare-pg-data-localprod
                  persistentVolumeClaim:
                      claimName: shelfshare-pg-data-localprod
