name: Deploy ShelfShare
run-name: >
  Deploy ShelfShare - "${{ github.event.workflow_run.head_commit.message }}"

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
    branches:
      - main

permissions:
  contents: read
  packages: write

env:
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/shelfshare-books-service
  IMAGE_TAG_SHA: ${{ github.event.workflow_run.head_sha }}
  IMAGE_TAG_SEMVER: 0.1.${{ github.event.workflow_run.run_number }}

jobs:
  build-and-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"

      - name: Generate Swagger docs
        working-directory: apps/books-service
        run: |
          go run github.com/swaggo/swag/cmd/swag@latest \
            init \
              -d cmd/server,internal/handler,internal/model,internal/validation \
              -o internal/docs

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push books-service image
        uses: docker/build-push-action@v6
        with:
          context: ./apps/books-service
          file: ./apps/books-service/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG_SHA }}
            ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG_SEMVER }}
